#extension-parent-node {
    display: flex;
    overflow: hidden;
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 4px;
    background: white;
    z-index: 999;
}